<h1><%= @list.item%></h1>

<ul>
  <li>Task: <%= @list.item%></li>
  <li>Description: <%= @list.description%></li>
  <li>Completed? <%= @list.is_completed%></li>
  <% if @list.is_completed == true %>
    <li>Date completed: <%= @list.date_completed%></li>
  <% end  %>
</ul>
