<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section>
    <nav>
      <% if session[:user_id] == nil %>
        <%= link_to "Log In/Sign Up", "/auth/github" %>
      <% else %>
        <%= link_to "Log Out", sessions_path, method: :delete %>
      <% end %>
    </nav>
  </section>

<%= yield %>

</body>
</html>
